body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #d0d0d0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

.appModeSwitcher {
    margin-bottom: 20px;
    vertical-align:middle;
}

.personCard {
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: white;
}

.personName {
    font-weight:bold;
    font-size: medium;
}

.personAddress {
    font-size: small;
    line-height: 1em;
    margin-bottom: 5px;
    margin-top: 0;
}

.personAge {
    font-size: small;
    margin-bottom: 5px;
}

.personInterests {
    font-size: small;
    line-height: 1em;
}
.top-margin{

    margin-top: 10px;
}